body {
   margin: 0;
   background: #eff3f6;
}

html body p,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body ul,
html body ol,
html body .content {
   margin: 0;
   padding: 0;
   list-style: none;
}

.content-header__img,
.aside-container,
.aside-menu,
.users-table__row {
   position: relative;
}

.content-header__img__overlay,
.aside-title,
.aside-menu__logout,
.users-table__detail-img {
   position: absolute;
}

.text-title {
   font-size: 24px;
   color: #354052;
}

/* Styles */

.aside-panel {
   height: 100vh;
}

.aside-container {
   background-color: #1d2531;
   width: 70px;
}

.aside-title {
   transform: rotate(-90deg);
   left: -33px;
   top: 78px;
   font-size: 25px;
}

.aside-menu {
   background-color: #222c3c;
   width: 250px;
   padding-top: 30px;
}

.aside-menu__title {
   font-size: 16px;
   color: #5b6779;
   text-transform: uppercase;
   margin-bottom: 30px;
   margin-left: 20px;
}

.aside-menu .aside-menu__switcher li a {
   padding: 13px 20px;
   display: block;
   color: #fff
}

.aside-menu .aside-menu__switcher .uk-active a {
   color: #fff;
   background: #313d4f;
}

.aside-menu .aside-menu__switcher li a:hover {
   color: #fff;
   background: #313d4f;
}

.default-btn {
   text-transform: uppercase;
   background: #259af3;
   border: none;
   outline: none;
   color: #fff;
   cursor: pointer;
   transition: all 0.3s;
}

.default-btn:hover {
   background: #137dcf;
}

.default-btnt:active {
   background: #006cbf;
}

.aside-menu__logout {
   width: 90%;
   display: block;
   padding: 10px 0;
   bottom: 20px;
   left: 5%;
}

.content-header {
   padding: 10px 0;
   margin-bottom: 30px;
   background: #fff;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.content-header-wrapper {
   max-width: 97%;
   margin: 0 auto;
}

.content-header__title {
   font-size: 24px;
}

.content-header__img {
   width: 70px;
   height: 50px;
}

.content-header__img img {
   border-radius: 50%;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.content-header__status {
   width: 100%;
}

.content-header__img__overlay {
   width: 14px;
   height: 14px;
   border: 3px solid #fff;
   background: #38a76a;
   border-radius: 50%;
   top: 33px;
   right: 0;
}

.content-wrapper {
   width: 93%;
   margin: 0 auto;
}

.users-panel__field input {
   padding: 10px 15px 10px 0;
   width: 170px;
   border: none;
   outline: none;
   border-bottom: 1px solid #d0d3d9;
}

.users-panel__select {
   margin-bottom: 1px;
}

.users-panel__select select {
   border: none;
   border-bottom: 1px solid #d0d3d9;
   outline: none;
   padding: 10px 0;
}

.users-panel__field button {
   padding: 7px 50px;
}

.users-panel,
.users-box,
.users-detail-box {
   border-radius: 4px;
   border: 1px solid #e6eaee;
   background-color: #ffffff;
}

.users-detail-box {
   width: 55%;
}

.users-detail-desc {
   padding: 10px 40px;
}

.users-detail-desc__title {
   margin-bottom: 20px;
}

.users-panel {
   margin-bottom: 30px;
   padding: 10px 40px;
}

.users-detail-box__table {
   width: 40%;
}

.users-box {
   padding-top: 10px;
   height: 75vh;
   overflow-y: scroll;
}

.users-table__head {
   margin-bottom: 7px;
}

.users-table__link {
   display: block;
   color: inherit;
   text-decoration: none;
}

.users-table__link:hover {
   text-decoration: none;
}

.users-table__head div:first-child {
   font-size: 20px;
   color: #354052;
}

.users-table__head,
.users-table__row {
   padding: 10px 40px;
}

.users-table__row {
   color: #333c48;
   cursor: pointer;
   transition: all 0.3s;
   border-bottom: 1px solid #e7e9ed;
}

.users-table__row:nth-child(even) {
   background: #f5f8fa;
}

.users-table__row:last-child {
   border-bottom: none;
}

.users-table__row:hover {
   background: #e6eaed;
}

.users-table__head div {
   color: #7f8fa4;
}

.users-table__head div,
.users-table__row div {
   width: 19%;
}

.users-table__status-box i {
   font-size: 21px;
   display: inline-block;
   margin-right: 10px;
   cursor: pointer;
}

.users-table__status-box .users-table__status-box-active {
   color: #1bb934;
}

.users-table__detail-img {
   width: 70px;
   height: 160px;
   border: 5px solid #333;
   border-radius: 10px;
   top: -9999px;
   transition: opacity 0.4s;
   opacity: 0;
   left: 0;
   z-index: 999;
}

.users-table__detail-img img {
   width: 100%;
   height: 100%;
}

.users-table__username span {
   color: #269AF3;
}

.users-table__username span:hover {
   text-decoration: underline;
}

.users-table__username span:hover + .users-table__detail-img {
   opacity: 1;
   top: 50px;
}