{% extends 'myAdmin/base_admin.html' %}
{% block title %}
   Attendances
{% endblock %}

{% block content %}
    <li>
        <div class="content-wrapper uk-flex uk-flex-between">
            <div class="attendance-box users-box">
                <h2 class="main-wrapper text-title">Attendances</h2>

                <div class="users-table main-table">
                <form>
                    <div class="users-table__head main-table__head uk-flex uk-flex-between uk-flex-middle">
                        <div>Username</div>
                        <div>Turnstiles</div>
                        <div>Time</div>
                    </div>
                    <div class="users-table__body">
                            <!-- <div class="users-table__username">
                                    <div class="uk-inline">
                                       <span>{{ user.username }}</span>
                                       {% if user.avatar %}
                                          <div class="users-table__detail-img" uk-dropdown>
                                             <img src="{{ user.avatar.url }}"  alt="User Avatar">
                                          </div>
                                       {% endif %}
                                    </div>
                                 </div> -->
                        {% for attendance in attendances %}
                            <div class="users-table__link attendance-table main-table__row users-table__row uk-flex uk-flex-between">
                                <div class="users-table__username">
                                    <div class="uk-inline">
                                        <span>{{ user.username }}</span>
                                        {% if user.avatar %}
                                            <div class="users-table__detail-img" uk-dropdown>
                                                <img src="{{ user.avatar.url }}"  alt="User Avatar">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>{{ attendance.turnstile }}</div>
                                <div>{{ attendance.time }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </form>
                </div>
            </div>

            <div class="attendance-table__search">
                <form>
                <div>
                    <h2 class="text-title">Filter by</h2>

                    <ul class="attendance-panel__field users-detail-attendance__filter uk-flex uk-flex-between uk-flex-middle">
                        <li>All</li>
                        <li>Day</li>
                        <li>Week</li>
                        <li>Month</li>
                    </ul>
                </div>
                </form>
            </div>

        </div>
    </li>

{% endblock %}