{% load static %}
<!doctype html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'myAdmin/css/style.css' %}">
   <link rel="stylesheet" href="{% static 'myAdmin/css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'myAdmin/css/uikit.min.css' %}">
   <script src="{% static 'myAdmin/js/uikit.min.js' %}"></script>
   <script src="{% static 'myAdmin/js/uikit-icons.min.js'%}"></script>
   <title>
        {% block title %}
            Admin
        {% endblock %}
   </title>
</head>
<body>
   <div uk-grid>
      <aside class="aside-panel uk-flex">
         <div class="aside-container">
            <p class="aside-title">Technodom</p>
         </div>

         <div class="aside-menu">
            <p class="aside-menu__title">Menu</p>

            <ul class="uk-nav uk-nav-default aside-menu__switcher">
               <li><a href="{% url 'index' %}">Users</a></li>
               <li><a href="{% url 'attendance' %}">Attendance</a></li>
               <li><a href="#">Turnstiles</a></li>
               <li><a href="#">Skip user</a></li>
            </ul>

            <form method="GET" action="{% url 'logout' %}">
               <button class="aside-menu__logout default-btn">Logout</button>
            </form>
         </div>
      </aside>

      <div class="uk-width-expand content">
         {% if user.is_authenticated %}
            <div class="content-header">
               <div class="content-header-wrapper uk-flex uk-flex-between uk-flex-middle">
                  <h1 class="content-header__title">{{ user.username }}</h1>

                  <div class="content-header__info uk-flex uk-flex-middle">
                     <div class="content-header__img">
                        <img src="{% static 'myAdmin/img/Face.png'%}" alt="Avatar">
                        <div class="content-header__img__overlay"></div>
                     </div>

                     <p class="content-header__status">Administrator</p>
                  </div>
               </div>
            </div>
         {% endif %}

         {% block content %}
            There is no any content
         {% endblock %}
             
      </div>
   </div>
   
   <script src="{% static 'myAdmin/js/main.js' %}"></script>
</body>
</html>
