{% extends 'myAdmin/base_admin.html' %}
{% block title %}
   Users
{% endblock %}

{% block content %}
   <li>
      <div class="content-wrapper">
         <div class="users-panel">
            <div class="uk-flex uk-flex-between uk-flex-middle">
               <form method="GET" action=''>
                  <div class="uk-flex uk-flex-bottom">
                     <div class="users-panel__field">
                        <label>
                           <input type="text" name='q' placeholder="Поиск ..." value='{{ request.GET.q }}'>
                        </label>
                     </div>
                     
                     <div class="users-panel__field">
                        <button class="default-btn">Поиск</button>
                     </div>
                  </div>
               </form>

               <div class="users-panel-box uk-flex">
                  <div class="users-panel__field">
                     <button class="default-btn" type="button" uk-toggle="target: #modal-example">Добавить пользователя</button>

                     <div id="modal-example" class="add-user-modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                           <form>
                              <h2 class="text-title uk-modal-title">Добавление пользователя</h2>

                              <div class="add-user-modal__content">
                                 <div class="uk-margin add-user-modal__field">
                                    <div class="uk-inline">
                                       <span class="uk-form-icon" uk-icon="icon: user"></span>
                                       <input class="uk-input" type="text" placeholder="Имя пользователя">
                                    </div>
                                 </div>

                                 <div class="uk-margin add-user-modal__field">
                                    <div class="uk-inline">
                                       <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                       <input class="uk-input" type="text" placeholder="Пароль">
                                    </div>
                                 </div>

                                 <div class="add-user-modal-upload-box uk-flex uk-flex-between">
                                    <div class="add-user-modal__field add-user-modal__upload">
                                       <div class="js-upload uk-placeholder uk-text-center">
                                          <span uk-icon="icon: cloud-upload"></span>
                                          <div uk-form-custom>
                                             <input type="file" multiple>
                                             <span class="uk-link">selecting one</span>
                                          </div>
                                       </div>

                                       <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                                    </div>

                                    <div class="add-user-modal__upload">
                                       <button class="default-btn">Take a picture</button>
                                    </div>
                                 </div>

                                 <div class="add-user-modal__field uk-flex uk-flex-between">
                                    <div>
                                       <label><input class="uk-checkbox" type="checkbox"> Active</label>
                                    </div>
                                    <div>
                                       <label><input class="uk-checkbox" type="checkbox"> Staff status</label>
                                    </div>
                                    <div>
                                       <label><input class="uk-checkbox" type="checkbox"> Superuser</label>
                                    </div>
                                 </div>
                              </div>

                              <p class="uk-text-right">
                                 <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                                 <button class="uk-button uk-button-primary" type="button">Сохранить</button>
                              </p>
                           <form>
                        </div>
                     </div>
                  </div>

                  <div class="users-panel__remove">
                     <button>
                        Удалить
                        <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>

         <div class="users-box">
            <div id="users-table" class="users-table main-table">
               <h2 class="main-wrapper text-title">Users</h2>

               <form>
                  <div class="users-table__head main-table__head uk-flex uk-flex-between uk-flex-middle">
                     <div>
                        <label uk-tooltip="Выбрать все"><input id="select-all-cb" class="uk-checkbox" type="checkbox"></label>
                     </div>
                     <div>Username</div>
                     <div>First name</div>
                     <div>Last name</div>
                     <div>Email</div>
                     <div>Permission</div>
                  </div>

                  <div class="users-table__body">
                     {% for user in users %}
                        <a class="users-table__link main-table__row" href="user-detail.html">
                           <div class="users-table__row uk-flex uk-flex-between">
                              <div>
                                 <label>
                                    <input class="users-table__checkbox uk-checkbox" type="checkbox">
                                 </label>
                              </div>
                              <div class="users-table__username">
                                 <span>{{ user.username }}</span>

                                 <div class="users-table__detail-img">
                                    <img
                                       src="https://media.gettyimages.com/photos/grim-reaper-picture-id827848238?s=612x612"
                                       alt="User ava">
                                 </div>
                              </div>
                              <div>{{ user.first_name }}</div>
                              <div>{{ user.last_name }}</div>
                              <div>{{ user.email }}</div>
                              <div class="users-table__status-box">
                                 {% if user.is_active %}
                                    <i class="fa fa-check-circle users-status-box__active" aria-hidden="true" uk-tooltip="Active"></i>
                                 {% else %}
                                    <i class="fa fa-check-circle " aria-hidden="true" uk-tooltip="Active"></i>
                                 {% endif %}

                                 {% if user.is_staff %}
                                    <i class="fa fa-user users-status-box__active" aria-hidden="true" uk-tooltip="Staff"></i>
                                 {% else %}
                                    <i class="fa fa-user" aria-hidden="true" uk-tooltip="Staff"></i>
                                 {% endif %}
                                 
                                 {% if user.is_superuser %}
                                    <i class="fa fa-user-secret users-status-box__active" aria-hidden="true" uk-tooltip="Superuser"></i>
                                 {% else %}
                                    <i class="fa fa-user-secret " aria-hidden="true" uk-tooltip="Superuser"></i>
                                 {% endif %}
                              </div>
                           </div>
                        </a>
                     {% endfor %}   
                  </div>
               </form>
            </div>
         </div>
      </div>
   </li>
{% endblock %}
   