<form>
   <h2 class="text-title uk-modal-title">Добавление турникета</h2>

   <div class="add-user-modal__content">
      <div class="uk-margin add-user-modal__field">
         <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: server"></span>
            <input class="uk-input" type="text" placeholder="Имя турникета">
         </div>
      </div>

      <div class="uk-margin add-user-modal__field">
         <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: video-camera"></span>
            <input class="uk-input" type="text" placeholder="IP камеры">
         </div>
      </div>
   </div>

   <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
      <button class="uk-button uk-button-primary" type="button">Сохранить</button>
   </p>
<form>